.App {
  text-align: center;
  /* background-color: rgb(230, 230, 230); */
  
}

.logoname{
  font-size:30px;
  font-weight: bold;
  display:inline;
  position: relative;
  left: 10px;

}
.logoposi{
  margin-top: 60px;
  margin-bottom: 60px;
}
#distance{
  margin-bottom: 10px;
}
input{
  background-color:transparent;
border-color: transparent;
border-bottom-color: green;
border-bottom-width: 1px;
}